.contenedor-testimonio {
  height: auto;
  width: 100%;
  margin: 10px 10px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.imagen-testimonio {
  height: 100%;
  padding-top: 1%;
  width: auto;
}

.contenedor-textos-testimonio {
  text-align: center;
  padding: 40px;
  font-family: Lato, sans-serif;
  line-height: 1.5 rem;
  font-weight: 400;
}

.nombre-testimonio {
  font-size: 1.3rem;
}

.cargo-testimonio {
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
}

.texto-testimonio {
  font-size: 1.1rem;
  text-align: justify;
}

@media screen and (max-width: 992px) {

  .imagen-testimonio {
    width: 35vw;
    padding-top: 1%;
  }
}

@media screen and (max-width: 600px) {

  .contenedor-testimonio {
    flex-direction: column;
  }

  .imagen-testimonio {
    padding-top: 1%;
    width: 75%;
  }
}